<!DOCTYPE html>
<html>
  <head>

    <title>Transaction</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>Sent Transaction</h1>      
      <div class="done">
        <h3>처리 완료</h3>
      </div>

      <div class="link">
        <% txLink.forEach((txLink)=>{%>
          <a target="_blank" href="<%=txLink%>"><%=txLink%></a>
          <br><br>
        <% }) %>
      </div>

      <div class="btn">
        <input type="button" value="처음으로" onclick="javascript:location.href='/'">
      </div>

  </body>
</html>
