<!DOCTYPE html>

<html>
  <head>

    <title>Transaction</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>Sending Transaction</h1>

      <div class="ing">
        <h3>처리중...</h2>
      </div>

  </body>
</html>
